html,body{
    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:#374F6E;
}

#content{
    width: 90%;
    margin: auto;
    padding-top: 60px;
}

@media only screen and (min-width: 1100px) {
    #content{
        width: 1000px !important;
    }
  }


header{
    display: flex;
    align-items: center;
}

header > img{
    height: 100px;
    width: 100px;
}

header > div.title-wrap{
    padding-left: 24px;
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
 ul.title-tags-list{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color:#93B4D8;
    margin-bottom: 14px;
}




ul.title-tags-list > li{
    padding-right: 20px;
    
}
ul.title-tags-list > li:nth-child(1){
    border-right: 2px solid #93B4D8;
    margin-right: 20px;
}

#mobile-tags{
    display: none;
}
#desktop-tags{
    display: flex;
    
}

@media only screen and (max-width: 600px) {

    header{
        margin-bottom: 14px;
    }

    header h2.title{
        max-width: 200px;
    }
    #mobile-tags{
        display: flex;
        margin-bottom: 30px;
    }
    #desktop-tags{
        display: none;
    }
  }

header h2.title{
    font-weight: 400;
    padding: 0px !important;
    margin: 0px !important;
    padding-top: 20px;
    margin-bottom: 10px !important;
    
}

nav > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav > ul > li {
    margin: 0px;
    padding-right:60px;
    cursor: pointer;
    color:#93B4D8;
    margin-top: 72px;
    margin-bottom: 32px;
}

nav > ul > li.active {
color:#374F6E;
}


#portfolio-section ol{
    margin:0px;
    padding: 16px;
    padding-bottom: 1px;
}

#portfolio-section ol li{
    margin-bottom: 15px;
}

#portfolio-section ol li a{
    text-decoration: underline !important;
    color:#374F6E !important;
}

.contact-table td{
    vertical-align: top;
    min-width: 100px;
    padding: 10px 0px;
}

.spacer{
    margin-left: 40px;
}

section{
    display: flex;
}

section > div{
    flex:1;
    font-size: 14px;;
}



.section-placeholder-img{
   margin-left: 150px;
    background: #DAE5F1;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    margin-top: 1rem;
}

section.hidden{
    display: none;
}

.mobile-section-header{
    display: none;
}

@media only screen and (max-width: 600px) {
    section{
        display: flex;
        flex-direction: column;
    }
    .section-placeholder-img{
        display: none;
        
     }
     section.hidden{
        display: block;
    }
    .mobile-section-header{
        display: block;
        color:#93B4D8;
        font-weight: 400;
        margin-top: 56px;
    }



    nav{
        display: none;
    }
    body{
        padding-bottom: 300px;
    }
  }



#mobile-tags,#desktop-tags{
    display: none !important;
}



